{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- favicon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: 'Space Grotesk', sans-serif;
        
        }
    </style>

    <title>{% block title %}{% endblock %}</title>
</head>

<body class="overflow-y-hidden overflow-x-hidden">
    {% block content %}
    {% endblock %}
</body>

</html>