<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GitHub Rewind 2023</title>
    <link rel="icon" href="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484637/favicon_olndlt.ico"
        type="image/x-icon" />

    <!-- external -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/1f265f5604.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@400;600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="https://res.cloudinary.com/de5vfgkg4/raw/upload/v1703486436/styles_rw4u3z.css">
</head>

<body class="relative bg-gray-950">
    <!-- snowflake button -->
    <button
        class="flex-flex-row absolute top-5 left-5 h-fit p-5 z-50 w-fit items-center justify-center bg-blue-950 rounded-lg shadow-2xl bg-opacity-30 backdrop-blur-xl"
        id="snow-button">
        <div class="flex h-full w-full items-center justify-center">
            <i class="fa fa-snowflake-o text-gray-50" aria-hidden="true"></i>
        </div>
    </button>
    <div
        class="flex h-screen w-screen snap-y snap-mandatory flex-col overflow-y-auto overflow-x-hidden scroll-smooth bg-fixed">
        <!-- bottom button -->
        <button
            class="flex-flex-row absolute bottom-0 z-50 h-20 w-screen items-center justify-center border-t-2 border-gray-900 bg-gray-950 bg-opacity-10 backdrop-blur-xl"
            id="next-button">
            <div class="flex h-full w-full items-center justify-center">
                <i class="fa-solid fa-arrow-down fa-2xl text-gray-50" style="animation: arrow 1s infinite ease-in-out"
                    id="down-arrow"></i>
            </div>
        </button>

        <!-- HERO -->
        <div
            class="snap-item current-active flex min-h-full w-full snap-center items-center justify-center bg-green-200">
            <!-- desktop -->
            <div class="relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-cover bg-center px-32 py-36 xl:flex scroll-into-view"
                id="heroDesktop" style="background-image: url({{ avatar_url }})">
                <!-- that blur backdrop -->
                <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full backdrop-blur-2xl"></div>

                <!-- image -->
                <div class=" child-element  child-element  h-full w-1/3 rounded-2xl border-2 border-gray-600 bg-gray-300 bg-cover bg-center shadow-2xl transition-all duration-500 hover:mr-5 hover:scale-105 hover:border-yellow-200"
                    style="background-image: url({{ avatar_url }})"></div>

                <!-- greeting -->
                <div
                    class=" child-element  child-element delay-1 flex h-4/5 w-2/3 flex-col justify-center rounded-2xl border-2 border-gray-700 bg-gray-50 bg-opacity-30 px-10 text-gray-950 shadow-2xl backdrop-blur-2xl transition-all duration-300 hover:h-full hover:border-yellow-200 hover:bg-gray-950 hover:bg-opacity-60 hover:text-gray-50">
                    <h1 class="mb-4 text-5xl font-semibold">
                        Back in action,<span class="block"></span>DeeptejD!🔥
                    </h1>
                    <p class="mb-7 text-3xl font-light">
                        Ready to unfold your GitHub 2023 coding journey?? 💪
                    </p>
                    <p class="text-xs font-light">
                        ps: clicking on some parts of the page may surprise u 🤫
                    </p>
                </div>
            </div>

            <!-- mobile -->
            <div class="relative mb-12 flex h-full w-full flex-col items-center justify-center px-11 py-20 xl:hidden scroll-into-view scroll-into-view "
                id="heroMobile" style="background-image: url({{ avatar_url }})">
                <!-- backdrop blur -->
                <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full backdrop-blur-2xl"></div>

                <!-- profile -->
                <div
                    class=" child-element  z-20 mb-4 flex h-1/3 w-full items-center justify-center overflow-hidden rounded-2xl object-cover transition-all duration-300">
                    <img src="{{ avatar_url }}"
                        class="h-full max-h-80 min-h-11 min-w-11 max-w-80 rounded-2xl border-2 border-gray-600 shadow-2xl"
                        alt="Profile Picture" />
                </div>

                <!-- greeting -->
                <div
                    class=" child-element  z-20 flex h-2/3 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-gray-600 bg-gray-950 bg-opacity-70 px-11 py-6 text-gray-100 shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-normal sm:text-3xl lg:text-5xl">
                        Back in action, DeeptejD! 🔥
                    </h1>
                    <p class="mb-5 text-sm font-light sm:text-xl lg:text-3xl">
                        Ready to unfold your GitHub 2023 coding journey?? 💪
                    </p>
                    <p class="text-xs font-light">
                        ps: clicking on some parts of the page may surprise u 🤫
                    </p>
                </div>
            </div>
        </div>

        <!-- COMMITS -->
        <div class="snap-item relative flex min-h-full w-full snap-center items-center justify-center bg-cover bg-center"
            style="background-image: url(https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484637/contrib_drebif.png)">
            <!-- backdrop blur -->
            <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full backdrop-blur-xl"></div>

            <!-- desktop -->
            <div class="relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-cover bg-center px-32 py-36 xl:flex scroll-into-view "
                id="commitDesktop">
                <!-- message -->
                <div
                    class="child-element flex h-4/5 w-2/3 flex-col justify-center space-y-10 rounded-2xl border-2 border-gray-700 bg-green-700 bg-opacity-30 px-10 text-gray-950 shadow-2xl backdrop-blur-2xl transition-all duration-300 hover:h-full hover:border-green-700 hover:bg-green-700 hover:bg-opacity-60 hover:text-gray-50">
                    <h1 class="text-4xl font-semibold transition-all duration-300">
                        In 2023 you've unleashed {{ total_commits }} commits into the wild! 🌿
                    </h1>
                    <p class="mb-10 text-xl font-light transition-all duration-300">
                        That's more code than a caffeinated squirrel on rollerblades. Keep
                        the wheels turning! 💪
                    </p>
                    <div class="flex flex-row space-x-2">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  p-5 text-xl font-semibold text-gray-950 transition-all duration-300">
                            <button title="Download and Flex on them fellow Devs" onclick="downloadCommitted()"><i
                                    class="fa-solid fa-circle-down"></i></button>
                        </div>
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2  bg-opacity-30  p-5 text-xl font-semibold text-gray-950 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareCommittedOnTwitter()"><i class="fa-brands fa-x-twitter"></i></i></button>
                        </div>
                    </div>
                </div>
                <!-- badge -->
                <div class="z-20 child-element delay-1 flex h-full w-1/3 cursor-pointer items-center justify-center rounded-2xl transition-all duration-500 confetti-badge"
                    id="confetti-badge">
                    <img src="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484639/Committed_ndvsmc.png"
                        class="h-full max-h-96 min-h-11 min-w-11 max-w-96 rounded-2xl shadow-2xl transition-all duration-500 hover:scale-105 hover:shadow-yellow-200"
                        alt="Badge" style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
            </div>

            <!-- mobile -->
            <div class="relative mb-12 flex h-full w-full flex-col items-center justify-center bg-cover bg-center px-11 py-20 xl:hidden scroll-into-view "
                id="commitMobile"
                style="background-image: url(https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484637/contrib_drebif.png)">
                <!-- backdrop blur -->
                <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full backdrop-blur-xl"></div>
                <!-- badge -->
                <div class=" child-element  rounded-2x z-20 mb-4 flex h-1/3 w-full items-center justify-center overflow-hidden object-cover transition-all duration-300 confetti-badge"
                    id="confetti-badge">
                    <img src="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484639/Committed_ndvsmc.png"
                        class="h-full max-h-80 min-h-11 min-w-11 max-w-80 shadow-2xl shadow-yellow-200" alt="Badge"
                        style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
                <div
                    class=" child-element  delay-1 z-20 flex h-2/3 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-green-700 bg-green-700 bg-opacity-30 px-11 py-6 text-gray-950 shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-bold sm:text-3xl lg:text-5xl">
                        In 2023 you've unleashed {{ total_commits }} commits into the wild! 🌿
                    </h1>
                    <p class="mb-5 text-sm font-light sm:text-xl lg:text-3xl">
                        That's more code than a caffeinated squirrel on rollerblades. Keep
                        the wheels turning! 💪
                    </p>
                    <div class="flex flex-row space-x-2 items-center justify-center">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  p-5 text-xl font-semibold text-gray-950 transition-all duration-300">
                            <button title="Download and Flex on them fellow Devs" onclick="downloadCommitted()"><i
                                    class="fa-solid fa-circle-down"></i></button>
                        </div>
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  bg-opacity-30 border-2  p-5 text-xl font-semibold text-gray-950 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareCommittedOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TOP LANGS -->
        <div class="snap-item flex min-h-full w-full snap-center items-center justify-center">
            <!-- desktop -->
            <div class="scroll-into-view relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-gradient-to-br from-[#a930ff] via-[#000000] to-[#f087e7] px-32 py-36 xl:flex"
                id="leaderboardDesktop" style="animation: move-gradient 5s linear infinite ease">
                <!-- message -->
                <div class=" child-element  z-20 flex h-full w-2/3 flex-col justify-center space-y-10 rounded-2xl border-2 border-gray-700 bg-opacity-60 bg-gradient-to-br from-[#e7ffad] via-[#7bedff] to-[#d687f0] px-10 text-gray-950 shadow-2xl backdrop-blur-2xl transition-all duration-500 hover:border-purple-700 hover:shadow-[#7bedff]"
                    id="gradientCard">
                    <h1 class="text-4xl font-semibold transition-all duration-300">
                        Drumroll...🥁 Here are your Top-3 Languages for 2023
                    </h1>
                    <p class="mb-10 text-xl font-light transition-all duration-300">
                        You deserve a medal... or at least a cookie! 🍪
                    </p>
                    <div class="flex flex-row space-x-2">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  bg-opacity-30 border-2 border-gray-950 p-5 text-xl font-semibold text-gray-950 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareTop3onTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
                <!-- chart -->
                <div
                    class=" child-element  delay-1 z-20 flex h-4/5 w-1/3 items-center justify-center rounded-2xl transition-all duration-500">
                    <div class="ml-4 grid h-full w-full grid-cols-3 grid-rows-4 gap-2">
                        <div class="col-span-1 col-start-1 row-span-1 row-start-2 rounded-lg flex items-center justify-center"><img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ top_langs.1.0|lower }}/{{ top_langs.1.0|lower }}-original.svg"
            class="w-28 h-28 items-center" alt="{{ top_langs.1.0 }}" /></div>
                        <div class="to col-span-1 row-span-2 row-start-3 cursor-pointer rounded-2xl border-2 border-gray-600 bg-gray-600 bg-gradient-to-b from-gray-400 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:shadow-gray-500"
                            id="silverDesktop">
                        </div>
                        <div class="col-span-1 col-start-2 row-span-1 row-start-1 rounded-lg flex items-center justify-center"><img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ top_langs.0.0|lower }}/{{ top_langs.0.0|lower }}-original.svg"
            class="w-28 h-28 items-center" alt="{{ top_langs.0.0 }}" /></div>
                        <div class="to col-span-1 row-span-3 row-start-2 cursor-pointer rounded-2xl border-2 border-yellow-400 bg-yellow-600 bg-gradient-to-b from-yellow-400 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:shadow-yellow-300"
                            id="goldDesktop" style="animation: first 2s forwards"></div>

                            <div class="col-span-1 col-start-3 row-span-1 row-start-3 rounded-lg flex items-center justify-center"><img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ top_langs.2.0|lower }}/{{ top_langs.2.0|lower }}-original.svg"
            class="w-28 h-28 items-center" alt="{{ top_langs.2.0 }}" />
                        <div class="to col-span-1 row-span-1 row-start-4 cursor-pointer rounded-2xl border-2 border-amber-600 bg-amber-800 bg-gradient-to-b from-amber-600 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:shadow-amber-600"
                            id="bronzeDesktop" -950 rounded-2xl></div>
                    </div>
                </div>
            </div>

            <!-- mobile -->
            <div class=" scroll-into-view relative mb-12 flex h-full w-full flex-col items-center justify-center bg-gray-100 bg-gradient-to-br from-[#a930ff] via-[#000000] to-[#f087e7] px-11 py-20 xl:hidden"
                id="leaderboardMobile">
                <!-- badge -->
                <div
                    class=" child-element  rounded-2x z-20 mb-4 flex h-1/2 w-full items-center justify-center overflow-hidden object-cover transition-all duration-300 lg:px-24">
                    <div class="ml-4 grid h-full w-full grid-cols-3 grid-rows-4 gap-2">
                        <div class="to col-span-1 row-span-2 row-start-3 rounded-2xl border-2 border-gray-600 bg-gray-600 bg-gradient-to-b from-gray-400 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:shadow-gray-500"
                            id="silverMobile">
                        </div>
                        <div class="to col-span-1 row-span-3 row-start-2 rounded-2xl border-2 border-yellow-400 bg-yellow-600 bg-gradient-to-b from-yellow-400 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:shadow-yellow-300"
                            id="goldMobile" style="animation: first 2s forwards"></div>
                        <div class="to col-span-1 row-span-1 row-start-4 rounded-2xl border-2 border-amber-600 bg-amber-800 bg-gradient-to-b from-amber-600 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:shadow-amber-600"
                            id="bronzeMobile" -950 rounded-2xl></div>
                    </div>
                </div>
                <div
                    class=" child-element  delay-1 z-20 flex h-3/4 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-purple-600 bg-opacity-30 bg-gradient-to-br from-[#e7ffad] via-[#7bedff] to-[#d687f0] shadow-[#7bedff] px-11 py-6 text-gray-950 shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-bold sm:text-3xl lg:text-5xl">
                        Drumroll...🥁 Here are your Top-3 Languages for 2023
                    </h1>
                    <p class="mb-5 text-sm font-light sm:text-xl lg:text-3xl">
                        You deserve a medal... or at least a cookie! 🍪
                    </p>
                    <div class="flex flex-row space-x-2 items-center justify-center">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  bg-opacity-30 border-2  border-gray-950 p-5 text-xl font-semibold text-gray-950 shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareTop3onTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- STARGAZER -->
        <div class="snap-item flex min-h-full w-full snap-center items-center justify-center">
            <!-- desktop -->
            <div class=" scroll-into-view relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-cover bg-center px-32 py-36 xl:flex"
                id="stargazerDesktop"
                style="background-image: url(https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484656/starfield_pvgkas.gif)">
                <!-- message -->
                <div
                    class=" child-element  z-20 flex h-4/5 w-2/3 flex-col justify-center space-y-10 rounded-2xl border-2 border-white bg-gray-100 bg-opacity-10 px-10 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300 hover:h-full hover:border-yellow-100 hover:bg-gray-900 hover:bg-opacity-60 hover:text-gray-50">
                    <h1 class="text-4xl font-semibold transition-all duration-300">
                        You've sprinkled stardust over {{ starred_repos_count}} repositories in 2023 ✨✨
                    </h1>
                    <p class="mb-10 text-xl font-light transition-all duration-300">
                        You are quite the stargazer 🤩
                    </p>
                    <div class="flex flex-row space-x-2">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  p-5 text-xl font-semibold text-gray-50 transition-all duration-300">
                            <button title="Download and Flex on them fellow Devs" onclick="downloadStargazer()"><i
                                    class="fa-solid fa-circle-down"></i></button>
                        </div>
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2  bg-opacity-30  p-5 text-xl font-semibold text-white shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareStargazerOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
                <!-- badge -->
                <div class=" child-element  delay-1 z-20 flex h-full w-1/3 cursor-pointer items-center justify-center rounded-2xl transition-all duration-500 confetti-badge"
                    id="confetti-badge3">
                    <img src="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484641/Stargazer_ehiy4d.png"
                        class="h-full max-h-96 min-h-11 min-w-11 max-w-96 rounded-2xl shadow-2xl transition-all duration-500 hover:scale-105 hover:shadow-yellow-200"
                        alt="Badge" style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
            </div>

            <!-- mobile -->
            <div class=" scroll-into-view relative mb-12 flex h-full w-full flex-col items-center justify-center bg-gray-100 bg-cover bg-center px-11 py-20 xl:hidden"
                id="stargazerMobile"
                style="background-image: url(https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484656/starfield_pvgkas.gif)">
                <!-- badge -->
                <div class=" child-element  rounded-2x z-20 mb-4 flex h-1/3 w-full items-center justify-center overflow-hidden object-cover transition-all duration-300 confetti-badge"
                    id="confetti-badge4">
                    <img src="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484641/Stargazer_ehiy4d.png"
                        class="h-full max-h-80 min-h-11 min-w-11 max-w-80" alt="Badge"
                        style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
                <div
                    class=" child-element  delay-1 z-20 flex h-2/3 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-yellow-100 bg-gray-800 bg-opacity-10 px-11 py-6 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-bold sm:text-3xl lg:text-5xl">
                        You've sprinkled stardust over {{ starred_repos_count}} repositories in 2023 ✨✨
                    </h1>
                    <p class="mb-5 text-sm font-light sm:text-xl lg:text-3xl">
                        You are quite the stargazer 🤩
                    </p>
                    <div class="flex flex-row space-x-2 items-center justify-center">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  p-5 text-xl font-semibold text-gray-50 transition-all duration-300">
                            <button title="Download and Flex on them fellow Devs" onclick="downloadStargazer()"><i
                                    class="fa-solid fa-circle-down"></i></button>
                        </div>
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2 p-5 text-xl font-semibold text-white shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareStargazerOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BIRTHDAY -->
        <div class="snap-item flex min-h-full w-full snap-center items-center justify-center">
            <!-- desktop -->
            <div class=" scroll-into-view relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-cover bg-center px-32 py-36 xl:flex"
                id="birthDesktop"
                style="background-image: url(https://media.giphy.com/media/UsCT2mzipv6I13GD2b/giphy.gif)">
                <!-- message -->
                <div
                    class=" child-element  z-20 flex h-4/5 w-2/3 flex-col justify-center space-y-10 rounded-2xl border-2 border-white bg-gray-100 bg-opacity-10 px-10 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300 hover:h-full hover:border-yellow-100 hover:bg-gray-900 hover:bg-opacity-60 hover:text-gray-50">
                    <h1 class="text-4xl font-semibold transition-all duration-300">
                        Fork Yeah! Celebrating {{ totalDays }} Days of Code (and Probably Some Bugs) 👀
                    </h1>
                    <p class="mb-10 text-xl font-light transition-all duration-300">
                        You created your account on {{ createdDate }}, was your first code 'Hello World' too? 👀
                    </p>
                    <div class="flex flex-row space-x-2">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2  bg-opacity-30  p-5 text-xl font-semibold text-white shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareBirthOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
                <!-- badge -->
                <div class=" child-element  delay-1 z-20 flex h-full w-1/3 cursor-pointer items-center justify-center rounded-2xl transition-all duration-500 confetti-badge"
                    id="confetti-badge3">
                    <img src="https://octodex.github.com/images/jetpacktocat.png"
                        class="h-full max-h-96 min-h-11 min-w-11 max-w-96 rounded-2xl transition-all duration-500 hover:scale-105 "
                        alt="Badge" style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
            </div>

            <!-- mobile -->
            <div class=" scroll-into-view relative mb-12 flex h-full w-full flex-col items-center justify-center bg-gray-100 bg-cover bg-center px-11 py-20 xl:hidden"
                id="birthMobile"
                style="background-image: url(https://media.giphy.com/media/UsCT2mzipv6I13GD2b/giphy.gif)">
                <!-- badge -->
                <div class=" child-element  rounded-2x z-20 mb-4 flex h-1/3 w-full items-center justify-center overflow-hidden object-cover transition-all duration-300 confetti-badge"
                    id="confetti-badge4">
                    <img src="https://octodex.github.com/images/jetpacktocat.png"
                        class="h-full max-h-80 min-h-11 min-w-11 max-w-80" alt="Badge"
                        style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
                <div
                    class=" child-element  delay-1 z-20 flex h-2/3 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-yellow-100 bg-gray-800 bg-opacity-10 px-11 py-6 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-bold sm:text-3xl lg:text-5xl">
                        Fork Yeah! Celebrating {{ totalDays }} Days of Code (and Probably Some Bugs) 👀
                    </h1>
                    <p class="mb-5 text-sm font-light sm:text-xl lg:text-3xl">
                        You created your account on {{ createdDate }}, was your first code 'Hello World' too? 👀
                    </p>
                    <div class="flex flex-row space-x-2 items-center justify-center">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2 p-5 text-xl font-semibold text-white transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareBirthOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- OVERALL -->
        <div class="snap-item flex min-h-full w-full snap-center items-center justify-center">
            <!-- desktop -->
            <div class=" scroll-into-view relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-cover bg-center px-32 py-36 xl:flex"
                id="overallDesktop">
                <!-- message -->
                <div
                    class=" child-element  z-20 flex h-4/5 w-2/3 flex-col justify-center space-y-10 rounded-2xl border-2 border-white bg-gray-100 bg-opacity-10 px-10 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300 hover:h-full hover:border-yellow-100 hover:bg-gray-900 hover:bg-opacity-60 hover:text-gray-50">
                    <h1 class="text-4xl font-semibold transition-all duration-300">
                        And thats a wrap! 🥹
                    </h1>
                    <p class="mb-10 text-xl font-light transition-all duration-300">
                        We shall meet again, with yet another Rewind in 2024! Till then keep coding! 💪
                    </p>
                    <div class="flex flex-row space-x-2">
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2  bg-opacity-30  p-5 text-xl font-semibold text-white shadow-2xl transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareOverallOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
                <!-- badge -->
                <div class=" child-element  delay-1 z-20 flex h-full w-1/3 cursor-pointer items-center justify-center rounded-2xl transition-all duration-500 confetti-badge"
                    id="confetti-badge3">
                    <img src="https://octodex.github.com/images/daftpunktocat-guy.gif"
                        class="h-full max-h-96 min-h-11 min-w-11 max-w-96 rounded-2xl transition-all duration-500 hover:scale-105 "
                        alt="Badge" style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
            </div>

            <!-- mobile -->
            <div class=" scroll-into-view relative mb-12 flex h-full w-full flex-col items-center justify-center bg-gray-100 bg-cover bg-center px-11 py-20 xl:hidden"
                id="overallMobile"
                style="background-image: url(https://media.giphy.com/media/UsCT2mzipv6I13GD2b/giphy.gif)">
                <!-- badge -->
                <div class=" child-element  rounded-2x z-20 mb-4 flex h-1/3 w-full items-center justify-center overflow-hidden object-cover transition-all duration-300 confetti-badge"
                    id="confetti-badge4">
                    <img src="https://octodex.github.com/images/daftpunktocat-guy.gif"
                        class="h-full max-h-80 min-h-11 min-w-11 max-w-80" alt="Badge"
                        style="animation: teeter 1.5s ease-in-out infinite" />
                </div>
                <div
                    class=" child-element  delay-1 z-20 flex h-2/3 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-yellow-100 bg-gray-800 bg-opacity-10 px-11 py-6 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-bold sm:text-3xl lg:text-5xl">
                        Fork Yeah! Celebrating [X] Days of Code (and Probably Some Bugs) 👀
                    </h1>
                    <p class="mb-5 text-sm font-light sm:text-xl lg:text-3xl">
                        Did you start with 'Hello World' too? 👀
                    </p>
                    <div class="flex flex-row space-x-2 items-center justify-center">
                        <!-- <div
                                            class="flex w-fit space-x-3 flex-row items-start rounded-xl  p-5 text-xl font-semibold text-gray-50 transition-all duration-300">
                                            <button title="Download and Flex on them fellow Devs" onclick="downloadStargazer()"><i
                                                    class="fa-solid fa-circle-down"></i></button>
                                        </div> -->
                        <div
                            class="flex w-fit space-x-3 flex-row items-start rounded-xl border-2 p-5 text-xl font-semibold text-white transition-all duration-300 hover:-translate-y-1 hover:translate-x-1 hover:shadow-2xl">
                            <button class="" title="'Twitter will always remain Twitter!'"
                                onclick="shareOverallOnTwitter()"><i class="fa-brands fa-x-twitter"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- FINAL -->
        <div class="snap-item flex min-h-full w-full snap-center items-center justify-center">
            <!-- desktop -->
            <div class=" scroll-into-view relative mb-16 hidden h-full w-full flex-row items-center space-x-5 bg-cover bg-center px-32 py-36 xl:flex"
                id="finalDesktop">
                <!-- message -->
                <div
                    class=" child-element  z-20 flex h-4/5 w-2/3 flex-col justify-center space-y-10 rounded-2xl border-2 border-white bg-gray-100 bg-opacity-10 px-10 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300 hover:h-full hover:border-yellow-100 hover:bg-gray-900 hover:bg-opacity-60 hover:text-gray-50">
                    <h1 class="text-4xl font-semibold transition-all duration-300">
                        Created by <a href="https://github.com/deeptejd" target="_blank">DeeptejD</a>
                    </h1>
                    <p class="mb-10 text-xl font-light transition-all duration-300">
                        You can contribute to this project on GitHub!
                        You can also support me and my projects by sponsoring me on GitHub! 💖

                        Thanks for making 2023 special!
                    </p>
                    <div class="flex flex-row space-x-2">
                        <iframe src="https://github.com/sponsors/DeeptejD/button" title="Sponsor DeeptejD" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
                        <a href="https://github.com/" target="_blank"><img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/DeeptejD/demo"></a>
                        <a href="https://github.com/DeeptejD" target="_blank"><img alt="GitHub followers" src="https://img.shields.io/github/followers/DeeptejD"></a>
                        <a href="https://linkedin.com/in/DeeptejDhauskar" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="Linkedin" ></a>
                    </div>
                </div>
                <!-- badge -->
                <div class=" child-element  delay-1 z-20 flex h-full w-1/3 cursor-pointer items-center justify-center rounded-2xl transition-all duration-500 confetti-badge"
                    id="confetti-badge3">
                        <iframe src="https://github.com/sponsors/DeeptejD/card" title="Sponsor DeeptejD" height="225" width="600" style="border: 0;" style="animation: teeter 1.5s ease-in-out infinite"></iframe>
                </div>
            </div>

            <!-- mobile -->
            <div class=" scroll-into-view relative mb-12 flex h-full w-full flex-col items-center justify-center bg-gray-950 bg-cover bg-center px-11 py-20 xl:hidden"
                id="finalMobile">
                <!-- badge -->
                <div class=" child-element  rounded-2x z-20 mb-4 flex h-1/3 w-full items-center justify-center overflow-hidden object-cover transition-all duration-300 confetti-badge"
                    id="confetti-badge4">
                    <iframe src="https://github.com/sponsors/DeeptejD/card" title="Sponsor DeeptejD" height="225" width="600" style="border: 0;" style="animation: teeter 1.5s ease-in-out infinite"></iframe>
                </div>
                <div
                    class=" child-element  delay-1 z-20 flex h-2/3 w-full flex-grow flex-col justify-center rounded-2xl border-2 border-yellow-100 bg-gray-800 bg-opacity-10 px-11 py-6 text-white shadow-2xl backdrop-blur-2xl transition-all duration-300">
                    <h1 class="mb-3 text-lg font-bold sm:text-3xl lg:text-5xl text-center">
                        Created by <a href="https://github.com/deeptejd" target="_blank" class="inline">DeeptejD</a>
                    </h1>
                    <p class="mb-1 text-sm font-light sm:text-xl lg:text-2xl text-center">
                        You can contribute to this project on GitHub!
                        You can also support me and my projects by sponsoring me on GitHub! 💖
                        Thanks for making 2023 special!
                    </p>
                    <div class="flex flex-col space-y-2 items-center justify-center">
                        <iframe src="https://github.com/sponsors/DeeptejD/button" title="Sponsor DeeptejD" height="32" width="114" style="border: 0; border-radius: 6px;"></iframe>
                        <div class="flex flex-row space-x-2">                        <a href="https://github.com/" target="_blank"><img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/DeeptejD/demo"></a>
                        <a href="https://github.com/DeeptejD" target="_blank"><img alt="GitHub followers" src="https://img.shields.io/github/followers/DeeptejD"></a></div>
                        <a href="https://linkedin.com/in/DeeptejDhauskar" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="Linkedin" ></a>    
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.2/tsparticles.confetti.bundle.min.js"></script>
    <script src="https://res.cloudinary.com/de5vfgkg4/raw/upload/v1703513967/app_yzgvhc.js"></script>
</body>

</html>