<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="Web Application" />
    <meta property="og:title" content="GitHub Rewind 2023" />
    <meta property="og:description" content="Look back at your GitHub journey through 2023 #githubrewind2023" />
    <meta property="twitter:image"
        content="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703534955/OG_Twitter_uvmjyr.png" />
    <meta property="twitter:title" content="GitHub Rewind 2023!" />
    <meta property="og:image"
        content="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703534955/OG_Twitter_uvmjyr.png" />
    <meta property="og:url" content="https://githubrewind.vercel.app" />
    <meta property="twitter:description"
        content="Reflect on a year of coding achievements, celebrate your milestones and share your accomplishments with the developer community! #githubrewind2023" />
    <meta property="description"
        content="Reflect on a year of coding achievements, celebrate your milestones and share your accomplishments with the developer community! #githubrewind2023" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@astrodeeptej" />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="https://res.cloudinary.com/de5vfgkg4/image/upload/v1703484637/favicon_olndlt.ico"
        type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@400;600&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="https://res.cloudinary.com/de5vfgkg4/raw/upload/v1703486436/styles_rw4u3z.css" />
    <title>#GitHubRewind2023</title>
</head>

<body class="overflow-x-hidden overflow-y-hidden">
    <div class="min-w-screen overflow-y-none overflow-x-none flex min-h-screen flex-col bg-[#00000C] px-5"
        id="tsparticles">
        <!-- nav -->
        <div class="flex h-14 w-full flex-row items-center justify-center space-x-5 px-11 text-white">
            <div></div>
            <div>
                <a href=""><img alt="GitHub Repo stars"
                        src="https://img.shields.io/github/stars/deeptejd/i386-assembly-language" /></a>
            </div>
            <div>
                <img alt="GitHub forks" src="https://img.shields.io/github/forks/deeptejd/deeptejd" />
            </div>
            <iframe src="https://github.com/sponsors/DeeptejD/button" title="Sponsor DeeptejD" height="32" width="114"
                style="border: 0; border-radius: 6px"></iframe>
        </div>

        <!-- body -->
        <div class="relative flex w-full flex-grow flex-col space-y-2">
            <div class="flex h-fit w-full items-center justify-center p-5 text-3xl text-gray-50">
                <a href="" onclick="hashtag()">
                    <span
                        class="rounded-xl bg-gray-50 bg-opacity-50 p-2 px-3 text-xl shadow-2xl">#GitHubRewind2023</span>
                </a>
            </div>
            <div class="text-center text-5xl font-semibold text-[#E8A7FF] md:text-6xl">
                2023 was <span class="block md:inline">AI-mazing! 👀</span>
            </div>
            <div class="w-full pt-5 md:px-20">
                <div class="w-full text-center text-lg font-light text-white lg:px-52">
                    Reflect on a year of coding achievements, celebrate your milestones
                    and share your accomplishments with the developer community! 🎉
                </div>
                <div class="flex items-center justify-center pt-4 md:pt-11">
                    <a href="/authenticate">
                        <button
                            class="z-96 hover:shadow-500/50 h-fit w-44 rounded-xl bg-[#E8A7FF] p-5 text-xl font-bold transition-all duration-500 hover:-translate-y-1 hover:shadow-2xl hover:shadow-[#4B0564]">
                            Wrap it up!
                        </button>
                    </a>
                </div>
            </div>
            <img src="https://ucarecdn.com/7341eb10-6348-4fb9-9eda-d1b9ddef3e83/trophy.png" alt="Github Trophy"
                class="absolute -bottom-44 left-1/2 z-10 -translate-x-1/2 transform transition-all duration-500 hover:scale-110 md:-bottom-40"
                style="
            height: 25rem;
            width: 25rem;
            animation: teeter 3s infinite ease-in-out;
          " />
            <div class="absolute -bottom-40 left-1/2 h-96 w-96 -translate-x-1/2 transform rounded-full bg-[#571A73] bg-opacity-70 blur-3xl"
                style="height: 25rem; width: 40rem"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.2/tsparticles.confetti.bundle.min.js"></script>
    <script>
        function hashtag() {
            var tweetText =
                "Have you checked your GitHub Rewind 2023? 👀🔥 Check it out here https://githubrewind.vercel.app ✨ #githubrewind #githubrewind2023";
            var twitterUrl =
                "https://x.com/intent/tweet?url=" +
                "&text=" +
                encodeURIComponent(tweetText);
            window.open(twitterUrl, "_blank");
        }
    </script>
</body>

</html>