<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Rewind</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen bg-gray-950">
        <div class="flex flex-row justify-center items-center w-full h-full">
            <button class="bg-gray-500 rounded-2xl p-5 hover:bg-white transition-all duration-300">Authenticate</button>
        </div>
    </div>
</body>
</html>